@model MainPageViewModel
@{
    ViewData["Title"] = "NewProducts";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="singl-shop ">
    
    <div class="row">
        <div id="products">
        @foreach (var item in Model.NewProduct)
        {
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="sp-single">
                    <div class="sp-img-area">
                        <img alt="" src="~/resimler/@item.PhotoPath" class="first-img" style="height:250px;width:250px;">
                        <img alt="" src="~/resimler/@item.PhotoPath" class="hover-img" style="height:150px;width:150px;">
                        <div class="quick-view-detail">
                                <a href="/Home/Details/@item.ProductID">Detaylar</a>
                        </div>
                        <div class="sp-label-pro sp-label-pro-hot">Yeni!</div>
                    </div>
                    <div class="sp-info-area">
                        <h2 class="product-name"><a href="/Home/@item.ProductID" title="Dolor Dignissim Semper">@item.ProductName</a></h2>
                        <div class="product-rating">
                            <div title=" Rating: 3/5" class="ratingbox">
                                <div class="stars-orange" style="width:50px"></div>
                            </div>
                        </div>
                        <p class="all-prices">
                            <span class="sp-price main-price">@item.UnitPrice</span>
                        </p>
                        <div class="sp-button">
                            <div class="s-button">
                                    <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="/Home/ChartProcess/@item.ProductID" data-original-title="sepete ekle"> <i class="fa fa-shopping-cart"></i> </a>
                            </div>
                            <div class="s-button">
                                    <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="/Home/ChartProcess/@item.ProductID" data-original-title="sepete ekle"> @*<i class="fa fa-heart-o"></i>*@ </a>
                            </div>
                            <div class="s-button last-b ">
                                <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="/Home/Details/@item.ProductID" data-original-title="Ürün detay"> <i class="fa fa-eye"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
        }
        </div>
    </div>
    <div id="loadmoreProducts" style="float-right:35px">
        <div class="s-poraduct-botton" >
            <input type="submit" name="name" value="DAHA FAZLA ÜRÜN GETİR" />
        </div>
    </div>
    <input type="hidden" id="pagenumber" value="0" />
   
</div>
<script>
    $(document).on("click", "#loadmoreProducts", function () {
        var pagenumber = parseInt($("#pagenumber").val())//önce value değeri 0 atanır
        var nextpage = pagenumber + 1;//sonra 1 atanır

        $.ajax({
            type: "GET",
            url: "/Home/_PartialNewProduct",
            data: { pageno: nextpage },//pageno değeri önce 1 gider 
            async: true,
            processData: true,
            cache: true,
            success: function (result) {
                $("#products").append(result)
                $("#pagenumber").val(+nextpage)//bura sayfa numarası next page bağlı olarak artar
            }
        })

    })
</script>
