@model Category
@{
    ViewData["Title"] = "CategoryCreate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="portlet box purple ">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Horizontal Form Height Sizing
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title="">
			</a>
			<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
			</a>
			<a href="" class="reload" data-original-title="" title="">
			</a>
			<a href="" class="remove" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" action="/Admin/CategoryCreate" method="post">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">Kategori Seçiniz</label>
					<div class="col-md-9">
						@Html.DropDownList("ParentID", (IEnumerable<SelectListItem>)ViewData["categoriList"],"seçiniz",new{@class="form-control input-lg"})
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" asp-for="CategoryName">Kategori Adı</label>//@*Edit yaparken supdeğeri gelmiyor paren değeri geliyor??*@
					<div class="col-md-9">
						<input type="text" class="form-control input-lg" placeholder="Large Input" asp-for="CategoryName" placeholder="Kategori adını giriniz">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" asp-for="CategoryName">Aktif Mi</label>
					<div class="col-md-9">
						<input asp-for="Active" class="form-control input-lg">
					</div>
				</div>
			</div>
			<div class="form-actions right1">
				<button type="button" class="btn default">Cancel</button>
				<button type="submit" class="btn btn-success">Submit</button>
				<a asp-action="CategoryIndex" class="btn btn-primary">Kategori Listesi</a>

			</div>
		</form>
		@TempData["Message"]
	</div>
</div> 

