@model Status
@{
    ViewData["Title"] = "StatusEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="portlet box purple ">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Statüs Güncelle
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title="">
			</a>
			<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
			</a>
			<a href="" class="reload" data-original-title="" title="">
			</a>
			<a href="" class="remove" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" action="/Admin/StatusEdit" method="post">
			<div class="form-body">

				<div class="form-group">
					<label class="col-md-3 control-label" asp-for="SatusName">Brand Name</label>
					<div class="col-md-9">
						<input type="text" class="form-control input-lg" placeholder="Large Input" asp-for="SatusName" placeholder="Marka adını giriniz">
						<span asp-validation-for="SatusName" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" asp-for="Active">Aktif Mi</label>
					<div class="col-md-9">
						<input asp-for="Active" class="form-control input-lg">
					</div>
				</div>
			</div>
			<input type="hidden" asp-for="StatusID" value="@Model.StatusID">
			<div class="form-actions right1">
				<button type="button" class="btn default">Cancel</button>
				<button type="submit" class="btn btn-success">Güncelle</button>
				<a asp-action="StatusIndex" class="btn btn-primary">Statüs Listesi</a>

			</div>
		</form>
		@TempData["Message"]
	</div>
</div>

